* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'inter', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

.wrapper {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}

.ali-center {
    display: flex;
    align-self: center;
}

/* Common elements  */

.btn-sec {
    padding: 10px 20px;
    border: 6px;
}

.btn-pri {
    background-color: #4CAF4F;
    padding: 14px 32px;
    border-radius: 6px;
    display: flex;
    width: max-content;
    align-items: center;
    margin-top: 32px;
}

.btn-secondary {
    color: #4CAF4F;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.btn-primary {
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.des-regular {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #717171;
    margin: 16px 0px 0px 0px;
}

/* Common Elements End here  */

/* Nav starts here  */
#navBar {
    padding: 30px 0px;
    background-color: #F5F7FA;
}

.nav-items-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-menu ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.nav-buttons {
    display: flex;
}

.nav-buttons .btn-pri {
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 0px;
}

/* Nav ends here  */

/* Hero starts here  */

#hero-section {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F7FA;
}

.hero-texts h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    text-align: left;
}

.hero-texts span {
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4CAF4F;
}

/* Hero ends here  */